target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
EMS/.idea/modules.xml
EMS/.idea/jarRepositories.xml
EMS/.idea/compiler.xml
EMS/.idea/libraries/
EMS/*.iws
EMS/*.iml
EMS/*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

target/
EMS/!.mvn/wrapper/maven-wrapper.jar
EMS/!**/src/main/**/target/
EMS/!**/src/test/**/target/

### IntelliJ IDEA ###
EMS/.idea/modules.xml
EMS/.idea/jarRepositories.xml
EMS/.idea/compiler.xml
EMS/.idea/libraries/
EMS/*.iws
EMS/*.iml
EMS/*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store